div#main {
    position: relative;
}
.square {
    height: 100px;
    width: 100px;      
    transform: rotate(45deg);
    background: linear-gradient(to bottom right, #F0CDAD, #afb155);
}
.tri {
    transform: scaleY(0.58);           
}
.leftaside {
    background: linear-gradient(to bottom right, #F0CDAD, #8D5F48);
}
.trileft{
    transform: scaleY(0.58);
}
.left {
    position: absolute;
    left: 35px;
    top: 61px;
    transform: rotate(120deg);
}
.triright {
    transform: scaleY(0.58);
}
.right {
    position: absolute;
    top: 61px;
    left: -35px;
    transform: rotate(60deg);
}
.rightaside {
    background: linear-gradient(to top left, #F0CDAD, #B9692C);
}
.bgsquare {
    position: absolute;
    left: 150px;
    top: 109px;
    z-index: 10;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.triangle {
    width: 0px;
    height: 0px;
    border-left: 86px solid red;
    border-right: 86px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.one {
    border-left: 86px solid transparent;
    border-right: 86px solid #D0BF82;
    position: absolute;
    left: -72px;
}
.two {
    border-left: 86px solid #A97E64;
    position: absolute;
    left: 100px;
}
.three {
    border-left: 86px solid #A58367;
    transform: rotate(-60deg);
    position: absolute;
    left: 100px;
}
.four {
    border-left: 86px solid #E5CEBC;
    transform: rotate(0);
    position: absolute;
    left: 100px;
        top: 99px;
}
.five {
    border-left: 86px solid transparent;
    border-right: 86px solid #EABF98;
    position: absolute;
        left: -72px;
    top: 99px;
}
.six {
    border-left: 86px solid #AFB99B;
    position: absolute;
    top: 49px;
    left: 14px;
    
}
#bgtri {
    position: relative;
    left: 100px;
    top: 100px;
}
.secondhand {
    transform: rotate(-137deg);
    transform-origin: 0 0;
    position: relative;
    top: 199px;
    left: 201px;
    z-index: 100;
    /*transition: all 1s cubic-bezier(0.39, 0.38, 0.62, 0.62);*/
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}
.sec {
    height: 30px;
    width: 30px;
    transform: skew(40deg,44deg);
    background: #e5cebc;
    transform-origin: 0 0;
    box-shadow: 0 0 3px rgb(175, 185, 155);
}
.min {
    height: 27px;
    width: 27px;
    transform: skew(40deg,44deg);
    background: #ebc3a0;
    transform-origin: 0 0;
    box-shadow: 0 0 3px rgb(193, 189, 186);
}
.hou {
    height: 24px;
    width: 24px;
    transform: skew(40deg,42deg);
    background:  #ebc3a0;
    transform-origin: 0 0;
    box-shadow: 0 0 3px rgba(193, 182, 182, 0.8);
}
.minutehand {
    position: relative;
    top: 166px;
    transform-origin: 3px 3px;
    transform: rotate(-138deg);
    left: 198.5px;
    z-index: 10;
}
.hourhand {
    position: relative;
    top: 137px;
    left: 196px;
    transform: rotate(-136deg);
    transform-origin: 5px 5px;
    z-index: 100;
    
}
.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #a58367;
    box-shadow: 0 0 10px 4px #d79f72;
    position: absolute;
    top: 196px;
    left: 197px;
    z-index: 100;
}
