/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* header start */
header {
  text-align: center;
  margin: 0.02415rem 0 0.01208rem;
  font-size: 0; }

header img {
  height: 0.08696rem; }

/* slides start */
#slides {
  display: none;
  position: relative; }

.slidesjs-navigation {
  display: none; }

ul.slidesjs-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0.00483rem;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%); }

li.slidesjs-pagination-item > a {
  display: inline-block;
  width: 0.03865rem;
  height: 0.01208rem;
  font-size: 0;
  background-color: #0e0906;
  margin: 0.01449rem;
  opacity: 0.5; }

li.slidesjs-pagination-item > a.active {
  background-color: #fff;
  opacity: 0.7; }

/* recommend channel */
.contain {
  margin: 0.02899rem;
  padding-bottom: 0.01932rem;
  font-size: 0.04348rem; }

.contain .delicious img,
.contain .cake img {
  width: 100%; }

.contain p {
  color: #92969C;
  font-weight: 100;
  font-size: 0.02899rem;
  padding: 0.01932rem 0; }

.contain .sail span:first-child {
  font-size: 0.04831rem; }

.sail span:first-child {
  color: #ff3939; }

.sail span:nth-child(2) {
  margin-left: .5em;
  text-decoration: line-through;
  color: #999; }

.contain .sail {
  position: relative; }

.sail > span {
  font-size: 0.02899rem; }

.contain .sail button {
  color: #2f2a2a;
  padding: 0 0.02415rem;
  border: 0.00483rem solid #986e6e;
  background-color: none;
  background: none;
  flex-flow: flex-end;
  text-align: right;
  position: absolute;
  right: 0;
  font-size: 0.04831rem; }

.goodsList ul {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0.02899rem;
  justify-content: space-between; }

.goodsList li {
  padding-top: 0.03623rem;
  border-top: 1px solid #ccc;
  width: 48%;
  margin: 0 0 0.02415rem;
  position: relative;
  top: -1px;
  font-size: 0.03865rem; }

.goodsList .sail {
  padding: 0.00966rem 0rem; }

.goodsList div > img {
  width: 100%; }

h5 {
  line-height: 1.5;
  color: #0c0c0e;
  font-size: 0.02899rem;
  letter-spacing: -4px;
  font-weight: 600; }

.goodsList .sail span:nth-child(2) {
  font-size: 0.02899rem; }

.moreList {
  text-align: center;
  font-weight: 700;
  font-size: 0.02899rem;
  margin: 0.04831rem; }

.moreList:after {
  content: "";
  display: inline-block;
  margin-left: 0.00966rem;
  border-left: 0.01449rem solid #212121;
  border-top: 0.00966rem solid transparent;
  border-bottom: 0.00966rem solid transparent; }

.moreList a {
  color: black; }

/* hunger channel */
.channelTitle {
  text-align: center;
  font-size: 0.04348rem;
  padding: 0.03865rem; }

.channelTitle b {
  border-bottom: 3px solid #0a0a0a;
  padding-bottom: 0.00725rem; }

.channelTitle span {
  border-bottom: 1px solid #0e0d0d;
  padding-bottom: 0.01932rem; }

hr {
  height: 0.02174rem;
  background-color: #f0efeb;
  border: none; }

/* footer start */
.focusUs {
  text-align: center;
  font-size: 0.02899rem;
  font-weight: 100;
  margin: 0.04831rem 0; }

.focusUs img {
  width: 0.19324rem; }

.focusUs p {
  font-size: 0.01691rem; }

.copyright {
  text-align: center;
  color: #999;
  margin-bottom: 0.19324rem; }

.copyright p:last-child {
  margin: 0.02415rem 0 0.05797rem 0; }

.copyright p {
  font-size: 0.01932rem; }

.bottomBar {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  font-weight: 100;
  font-size: 0.03382rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20; }

.bottomBar span {
  width: 0.07246rem;
  height: 0.07246rem;
  background-position: 0rem;
  display: block;
  background-size: cover;
  background-repeat: no-repeat; }

.home span {
  background-image: url("image/navbar.png");
  background-position: 0; }

.mine span {
  background-image: url("image/navbar.png");
  background-position-x: -0.07246rem; }

.order span {
  background-image: url("image/navbar.png");
  background-position-x: -0.14493rem; }

.bottomBar a {
  color: #cac4c4;
  display: inline-block;
  padding: 0.00483rem 0.0628rem; }

.bottomBar div.active a {
  color: black; }
